  <tr>
    <td><%= hot_issue_row.category %></td>
    <td><%= hot_issue_row.title %></td>
    <td><%= link_to "View source", hot_issue_row.source_url %>
    | <%= link_to "Edit", edit_admins_hot_issue_path(hot_issue_row) %></td>
  </tr>
